<!-- wp:template-part {"slug":"header","theme":"trondheimtannlegesenter","tagName":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"minHeight":350,"minHeightUnit":"px","isDark":false} -->
<div class="wp-block-cover is-light" style="min-height:350px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"backgroundColor":"custom-bla","textColor":"white"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:template-part {"slug":"footer","theme":"trondheimtannlegesenter","tagName":"footer"} /-->